* {
    box-sizing: border-box;
}

html{
    font-size: 65%;
}

body{
    background-image: linear-gradient(135deg, #f5f7f7 0%, #c3cfe2 100%);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h1{
    position: absolute;
    top: 10rem;
}

p{
    position: absolute;
    text-align: center;
    top: 13rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: grey;
}

.range__container{
    position: relative;
}

input[type='range']{
    width: 42rem;
    margin: 1.8rem 0 ;
    -webkit-appearance: none;
    /* This makes the range to dissapear  */
}

input[type='range']:focus{
    outline: none;
}

input[type='range'] + label {
    font-size: 1.2rem;
    background-color: white;
    position: absolute;
    bottom: 4rem;
    left: 11rem;
    width: 8rem;
    padding: 0.5rem 0;
    text-align: center;
    border-radius: 0.4rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

/* Chrome & Safari */
input[type='range']::-webkit-slider-runnable-track{
    background: #222222;
    border-radius: 1rem;
    width: 100%;
    height: 1rem;
    cursor: pointer;
}

input[type='range']::-webkit-slider-thumb{
    -webkit-appearance: none;
    /* to make it invisible too  */
    height: 2.4rem;
    width: 2.4rem;
    background: white;
    border-radius: 50%;
    border: 0.1rem solid grey;
    margin-top: -0.7rem;
    cursor: pointer;
}

/* Firefox */
input[type='range']::-moz-range-track{
    background: #222222;
    border-radius: 1rem;
    width: 100%;
    height: 1rem;
    cursor: pointer;
}

input[type='range']::-moz-range-thumb{
    -webkit-appearance: none;
    /* to make it invisible too  */
    height: 2.4rem;
    width: 2.4rem;
    background: white;
    border-radius: 50%;
    border: 0.1rem solid grey;
    margin-top: -0.7rem;
    cursor: pointer;
}

/* Internet Explorer */
/* Just kidding  */