* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

.app {
  background-image: url("./assets/windy.png");
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}

.app.warm {
  background-image: url("./assets/sunny.png");
}

main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
  padding: 2.5rem;
}

.search-box {
  width: 100%;
  margin: 0 0 7.5rem;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 1.5rem;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 0 1.6rem 1.6rem;
  margin-top: -2.5rem;

  box-shadow: 0 0.2rem rgba(0, 0, 0, 0.1);

  color: #333333;
  font-size: 2rem;

  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}
