

html[data-theme='anakin']{
    margin: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%; 
    /*^it helps you work with REM easier, now 1.2 REM can be seen as 12 px, check it out its worth */

    display: grid;
    align-items: center;
    justify-items: center;

    /* Anakin skywalker colors */
    --bg: #111111;
    --bg-container: #1E1E1E;
    --color-redNblue: #F04749;
    --color-whiteNgrey: #E5E5E5;
}

html[data-theme='luke']{
   /* Luke Skywalker colors  */
   --bg: #FBFBFB ;
   --bg-container: #EBEBEB;
   --color-redNblue: #1275c0;
   --color-whiteNgrey: #444444;

    margin: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%; 
    display: grid;
    align-items: center;
    justify-items: center;

}



body{
    background-color: var(--bg);
    display: flex;
	justify-content: center;
	align-items: center;
    height: 100vh;
    transition: background 0.2s linear;
}

body.luke {
    background-color: var(--luke-bg);
}

main {
    background-color: var(--bg-container);
    margin: 1rem;
    padding: 2rem;
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: 75% auto;
    /* 75/25 ratio to divide the content with the toggle */
    grid-template-rows: auto auto;
    grid-template-areas: 
        "toggle"
        "content";
}

.luke {
    background-color: var(--luke-container);
}

h1{
    margin: 0;
    color: var(--color-redNblue);
}

/* Statements from the movie */
p {
    color: var(--color-whiteNgrey);
    grid-area: content;
    font-size: 1.2rem;
    line-height: rem;
    margin-top: 4rem;
}
/* img */
.container__svg{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 4rem;
}
.darthVader {
    width: 8rem;
    height: 8rem;
}



/* toggle */
.container__toggler {
    display: flex;
    justify-content: center;
    padding-right: 2rem;
    align-items: center;
}
.toggle {
    opacity: 0;
}

.label {
    position: relative;
    background-color: var(--color-whiteNgrey) ;
    display: flex;
    border-radius: 5rem;
    height: 2.6rem;
    width: 5rem;
}

.switch {
    position: absolute;
    border-radius: 50%;
    top: 0.3rem;
    left: 0.25rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--color-redNblue);
    transition: transform 0.2s linear;
}


.toggle:checked + .label .switch {
    transform:translateX(2.3rem)
}


