* {
    box-sizing: border-box;
}

html{
    font-size: 65%
}
body{
    background-color: #eafbff;
    background-image: linear-gradient(to bottom, #f3f3f3 0%,#f3f3f3 50%, #3e4653 50%, #3e4653 100%);
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}


nav{
    background-color: white;
    padding: 2rem;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.5rem rgb(0, 0, 0, 0.25);
    transition:  width 0.5s linear;
}

nav.active{
    width: 30rem;
}

nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 0;
    transition: width 0.5sec linear;
}

nav.active ul{
    width: 100%;
}

nav ul li{
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 0.5s linear, opacity 0.5s linear;
}

nav.active ul li {
    opacity: 1;
    transform: rotateY(360deg);s
}

nav ul a{
    position: relative;
    color: black ;
    text-decoration: none;
    margin: 0 1rem;
}

.icon {
    background: white;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    height: 3rem;
    width: 3rem;
}

.icon:focus{
    outline: none;
}

.icon .line{
    background-color: #3e4653;
    height: 0.2rem;
    width: 2rem;
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    transition: transform  0.5s linear;
}

.icon .lineTwo {
    top: auto ;
    bottom: 1rem;
}


nav.active .icon .lineOne {
    transform: rotate(-765deg) translateY(0.55rem);
}

nav.active .icon .lineTwo {
    transform: rotate(+765deg) translateY(-0.55rem);
}

/* This makes the x form ^ */

